@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

.page {
  font-size: 15px;
  line-height: 28px;
  font-family: 'Roboto', Helvetica, Arial, 'Hiragino Sans', sans-serif;
}

.line img.icon {
  height: 1.3em;
  vertical-align: top;
}

.deco .deco-\*-1 {
  font-weight: bold;
}

.deco .deco-\*-2 {
  font-size: 1.2em;
  line-height: 28px;
}

.deco .deco-\*-3 {
  font-size: 1.44em;
  line-height: 35px;
}

.deco .deco-\*-4 {
  font-size: 1.73em;
  line-height: 42px;
}

.deco .deco-\*-5 {
  font-size: 2.07em;
  line-height: 49px;
}

.deco .deco-\*-6 {
  font-size: 2.49em;
  line-height: 56px;
}

.deco .deco-\*-7 {
  font-size: 3em;
  line-height: 63px;
}

.deco .deco-\*-8 {
  font-size: 3.58em;
  line-height: 77px;
}

.deco .deco-\*-9 {
  font-size: 4.3em;
  line-height: 91px;
}

.deco .deco-\*-10 {
  font-size: 5.16em;
  line-height: 105px;
}

.deco .deco-\/ {
  font-style: italic;
}

.deco .deco-- {
  text-decoration: line-through;
}

.deco .deco-_ {
  text-decoration: underline;
}

.line .quote {
  margin: 0;
  font-style: italic;
  background-color: rgba(128, 128, 128, 0.1);
  display: block;
  border-left: solid 4px #a0a0a0;
  padding-left: 4px;
}

.line .quote > .tag {
  visibility: hidden;
}

.line code {
  padding: 0;
  font-size: 90%;
  color: #342d9c;
  background-color: rgba(0, 0, 0, 0.04);
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
}
